body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #44475a;
  color: #f8f8f2;
  font-size: 1.2rem;
  font-family: "Poppins", serif;
  font-weight: 400;
}

h1 {
  font-family: "Satisfy", sans-serif;
  font-weight: 400;
  color: #f8f8f2;
}

a {
  color: #ff79c6;
  text-decoration: none;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
  color: #d666a6;
}

header {
  padding: 1em;
  background-color: #282a36;
  height: 4fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 2.5em;
  height: 2.5em;
  margin-top: -0.3em;
  cursor: pointer;
}

header .logo {
  font-family: "Playfair Display";
  font-size: 1.4em;
  color: #f8f7f5;
}

header .logo:hover {
  color: #ff79c6;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #232530;
  width: 45%;
  z-index: 99;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav .navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav .navigation a {
  color: #eaf7f5;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}

nav .navigation a:hover {
  background-color: #44475a;
  color: #ff79c6;
}

.container {
  background-color: #383a59;
}

.hero {
  height: 57vh;
  padding: 8em 1em 10em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.hero .tomas {
  background-image: -webkit-gradient(linear, left top, left bottom, to(#44475a));
  background-image: linear-gradient(#44475a 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.13em;
  background-position: 0 80%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.hero .tomas:hover {
  background-size: 100%;
  color: #fff;
}

.hero .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero #hero-info {
  margin: auto;
  padding-right: 1em;
  font-size: 1rem;
  font-weight: bold;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-content #hero-img {
  margin: auto;
  width: 41vw;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
  display: block;
  padding: 0;
}

.title {
  display: block;
  margin: auto;
  color: #ff79c6;
  font-size: 3rem;
}

.callToAction {
  padding: 10em;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-family: "Poppins";
  font-weight: normal;
  font-style: italic;
}

.callToAction .tomas {
  color: #ff79c6;
  background-image: -webkit-gradient(linear, left top, left bottom, to(#ff79c6));
  background-image: linear-gradient(#ff79c6 100%);
  background-size: 0%;
}

.callToAction .tomas:hover {
  background-size: 100%;
  color: #232530;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.about #tech-pic {
  width: 20em;
}

.about #about-text {
  padding: 5em;
  text-align: justify;
}

.about #thanks {
  text-align: center;
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 720px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .title {
    font-size: 4rem;
  }
  .hero #hero-img {
    width: 30vw;
    height: 40vh;
    padding: 3em;
  }
  header {
    padding: 1em 4em;
  }
}

@media only screen and (min-width: 960px) {
  .menu {
    display: none;
  }
  header {
    height: 3em;
    padding: 0 5em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    margin-left: -3em;
  }
  nav {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    height: 2em;
    background: none;
  }
  nav .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -1.5em;
  }
  nav .navigation a {
    padding: 1.5em 1em;
  }
  nav .navigation a:hover {
    background: none;
    color: #dd7564;
  }
  nav svg.close {
    display: none;
  }
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero .hero-content #hero-img {
    height: 51vh;
    width: 25vw;
  }
  .hero .hero-content #hero-info {
    display: block;
    font-size: 1.4rem;
  }
  .hero .title {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    height: 3em;
  }
  .logo {
    margin-left: 0;
  }
  .container {
    height: 95vh;
  }
  .hero {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */