body {
  margin: 0;
  background-color: #44475a;
  color: #f8f8f2;
  font-size: 1.2rem;
  font-family: "Halant", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  color: #f8f8f2;
}

a {
  color: #ff79c6;
  text-decoration: none;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
  color: #d666a6;
}

header {
  padding: 1em;
  background-color: #282a36;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 2.5em;
  height: 2.5em;
  margin-top: -0.3em;
  cursor: pointer;
}

header .logo {
  font-family: "Playfair Display";
  font-size: 1.4em;
  color: #f8f7f5;
}

header .logo:hover {
  color: #ff79c6;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #232530;
  width: 45%;
  z-index: 99;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav .navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav .navigation a {
  color: #eaf7f5;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}

nav .navigation a:hover {
  background-color: #44475a;
  color: #ff79c6;
}

.container {
  background-color: #383a59;
}

.hero {
  height: 49vh;
  padding: 8em 1em 10em 1em;
  text-align: center;
}

.hero .tomas {
  background-image: -webkit-gradient(linear, left top, left bottom, to(#44475a));
  background-image: linear-gradient(#44475a 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.13em;
  background-position: 0 80%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.hero .tomas:hover {
  background-size: 100% 89%;
  color: #6272a4;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-content #hero-img {
  margin: auto;
  width: 41vw;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
  display: block;
}

.hero .hero-content #hero-info {
  margin: auto;
  padding-right: 1em;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Halant";
}

.title {
  display: block;
  margin: auto;
  color: #ff79c6;
  font-size: 2.5rem;
}

.action-call {
  display: block;
  text-align: center;
  font-family: "Poppins";
  font-weight: normal;
  font-style: italic;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  margin: 8em 1em 10em 1em;
}

.about .title {
  display: block;
}

.about img {
  width: 7em;
  height: 6em;
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 720px) {
  body {
    margin: 1.5em 4em;
    background-color: #f8f7f5;
    color: #1b1717;
    font-family: "Halant", serif;
    font-weight: 400;
  }
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .hero .title {
    font-size: 3rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero #hero-img {
    width: 30vw;
    height: 40vh;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 920px) {
  body {
    background-color: #f8f7f5;
    color: #1b1717;
    font-family: "Halant", serif;
    font-weight: 400;
  }
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    width: auto;
    height: 5em;
    background: none;
  }
  nav .navigation {
    display: block;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .navigation a {
    padding: 1em;
  }
  nav .navigation a:hover {
    background: none;
    color: #dd7564;
  }
  nav svg.close {
    display: none;
  }
  .hero {
    border: 5px solid pink;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero .hero-content #hero-img {
    height: 51vh;
    width: 25vw;
  }
  .hero .hero-content #hero-info {
    font-size: 1.4rem;
  }
  .hero .title {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    font-size: 6rem;
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .action-call {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */