@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #001233;
  color: #f8f8f2;
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
}
h1 {
  
  font-family: "VT323", monospace;
  text-decoration: underline;
  color: #f8f8f2;
}

a {
  color: #ff79c6;
  text-decoration: none;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
  color: #f878c0;
}

header {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 1em;
  
  background-color: #000818;
  height: 4fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-color: #BEAEE2;
  //padding: 1% 10%;
  //height: 25px;
  img {
    width: 2.5em;
    height: 2.5em;
    margin-top: -0.3em;
    cursor: pointer;
  }

  .logo {
    font-family: "VT323", monospace;
    font-size: 2rem;
    color: #ec237a;
    &:hover {
      color: #ff79c6;
    }
  }
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #000b1f;
  width: 45%;
  z-index: 99;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  .navigation {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;

    a {
      color: #eaf7f5;
      padding: 0.75em 2em;
      display: block;
      width: 100%;
    }
  }
}

.hero {
  animation: 1s ease-in 0s 1 slideInFromRight;
  height: 90vh;
  padding: 8em 1em 10em 1em;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: space-evenly;
  #ciao {
    font-family: 'VT323', monospace;
    text-align: left;
    margin: auto;
    padding-right: 1em ;
    font-size: 2rem;
    font-weight: bold;
  }
  .tomas {
    font-family: 'Satisfy', sans-serif;
    background-image: linear-gradient(#dceaee 100%);
    background-repeat: no-repeat;
    background-size: 0;
    transition: background-size 0.5s ease-in; 
    &:hover {
      background-size: 100%;
    }
  }
  .hero-container{
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  #hero-info {
    margin: auto;
    padding-right: 1em;
    font-size: 1rem;
  }
  .hero-content {
    display: flex;
    align-items: center;
    #hero-img {
      margin: auto;
      width: 41vw;
      border-radius: 999px;
      object-fit: cover;
      height: 30vh;
      display: block;
      padding: 0;
    }
  }
}

.title {
  display: block;
  margin: auto;
  color: #ec237a;
  font-size: 3rem;
}


.callToAction{
  padding: 10em 0 0 0;
  display: block;
  flex: 1;
  text-align: center;
  font-family: "Poppins";
  font-weight: normal;
  font-style: italic;
  .tomas{
    color: #ff79c6;
    background-image: linear-gradient(#ff79c6 100%);
    background-size: 0%;
    &:hover{
      background-size: 100%;
      color: #232530;
    }
  }
}  
#gameboys{
  height: 20em;
  width: 35em;
}

.hero-container{
  display: flex;
  flex-flow: row wrap;
  height: 90vh;
}

.about {
  padding: 3em 0em;
  display: block;
  text-align: center;
  height: 100vh;
  #tech-pic{
    width: 10em;
  }
  #text-and-fedora{
    display: flex;
    flex-direction: row;
  }
  #fedora{
    height: 100px;
    width: 100px;
  }
  
}
#thanks{
  text-align: center;
}
.text {
  font-size: 0.85rem;
  padding: 5em;
  text-align: justify;
}
.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.open-nav {
  transform: translateX(0%);
}

#projects{
  text-align: center;
  padding: 5em 15em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  #projects-title{
    padding: 1em;
    margin: 0;
  }
  h2{
    padding: 0;
  }
  #hotel-video{
    height: 600px;
    width: 600px;
  }
}

@media only screen and (min-width: 720px) { 
  .hero {
    .title{
      font-size: 4rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #hero-img {
      width: 30vw;
      height: 40vh;
      padding: 3em;
    }
  }
  header {
    padding: 1em 4em;
  }
}

@media only screen and (min-width: 960px) {
  .menu {
    display: none;
  }

  header {
    height: 3em;
    padding: 0 5em;
    justify-content: space-between;
    align-items: center;
    

  }
  .logo{
    margin-left: -3em;
  }
  nav {
    display: block;
    transform: translateX(0);
    position: unset;
    height: 2em;
    background: none;
    .navigation {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: -1.5em;
      a {
        padding: 1.5em 1em;
        &:hover {
          background: none;
          color: #ec237a;
        }
      }
    }
    svg.close {
      display: none;
    }
  }

  .hero {
    flex-direction: row;
    .hero-content {
      #hero-img {
        height: 51vh;
        width: 25vw;
      }
      #hero-info {
        display: block;
        font-size: 1.4rem;
      }
    }
    .title {
      font-size: 5rem;
    }

    
  }
}
@media only screen and (min-width: 1200px) {
  header {
    height: 3em;
  }
  .logo{
    margin-left: 0;
  }
  .hero{
    display: block;
    height: 60vh;
    .hero-container{
      height: 50vh;
    }
    .callToAction{
      height: 10em;
    }
  }
  #about-me{
    padding: 5em 15em 0 15em;
    #about-text {
      padding: 5em 10em 5em 10em;
      font-size: 1rem;
    }   
  }
}
