body {
  margin: 1.5em;
  background-color: #f8f7f5;
  color: #1E292B;
  font-size: 1.2rem;
  font-family: 'Halant', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  color: #1E292B;
}

a {
  color: #1E292B;
  text-decoration: none;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
  color: #DD7564;
}

header {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 2.5em;
  height: 2.5em;
  margin-top: -.3em;
  cursor: pointer;
}

header .logo {
  font-family: 'Playfair Display';
  font-size: 1.5em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: whitesmoke;
  width: 50%;
  z-index: 99;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav .navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav .navigation a {
  padding: .75em 2em;
  display: block;
  width: 100%;
}

nav .navigation a:hover {
  background-color: #e29090;
  color: #eaf7f5;
}

section.hero {
  height: 51vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8em 1em 10em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero img {
  width: 41vw;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
  display: block;
}

section.hero #intro-info {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Halant';
}

section.hero .tomas {
  background-image: -webkit-gradient(linear, left top, left bottom, to(#B2DEDD));
  background-image: linear-gradient(#B2DEDD 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 80%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

section.hero .tomas:hover {
  background-size: 100% 88%;
}

.title {
  color: #DD7564;
  font-size: 2.5rem;
}

.action-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins';
  font-weight: normal;
  font-style: italic;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  margin: 8em 1em 10em 1em;
}

.about .title {
  display: block;
}

.about img {
  width: 5em;
  height: 5em;
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 720px) {
  body {
    margin: 1.5em 4em;
    background-color: #f8f7f5;
    color: #1B1717;
    font-family: 'Halant', serif;
    font-weight: 400;
  }
  section.hero {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.hero #ciao {
    font-size: 3rem;
  }
  section.hero img {
    width: 40vw;
    height: 40vh;
  }
}

@media only screen and (min-width: 920px) {
  body {
    margin: 1.5em 8em;
    background-color: #f8f7f5;
    color: #1B1717;
    font-family: 'Halant', serif;
    font-weight: 400;
  }
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: block;
    width: auto;
    height: 5em;
    background: none;
  }
  nav .navigation {
    margin-top: 1.5em;
    margin-right: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .navigation a {
    padding: 0;
    margin: .5em;
  }
  nav .navigation a:hover {
    background: none;
    color: #DD7564;
  }
  nav svg.close {
    display: none;
  }
  .logo {
    margin: 0.2em;
  }
  section.hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.hero img {
    height: 50vh;
    width: 34vw;
  }
  section.hero #ciao {
    margin-top: 1em;
    font-size: 4rem;
    margin-right: 1em;
    margin-bottom: 0;
  }
  section.hero #intro-info {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */