body {
    font-size: 20px;
    background: #028b8b;
    font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #fff;
    margin: 0;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1%;
    background-color: #0F1626;
}
.logo{
    font-family: 'Roboto Slab';
    font-size: 0.9em;
    width: 50%;
}
nav{
    width: 50%;
}

nav ul{
    margin-top: 5%;
    background-color: #0f1626;
    color:#fff;
    border:0;
    font-size: 1em;
    cursor: pointer;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 20%;
    margin-top: 100px;
}

.intro{
    width: 100%;
    display: block;
}

#introduction{
    font-size: 40px;
    font-family: Bitter, serif;
    display: flex;
    width: 100%;
}

#introduction h1 {
    font-weight: normal;
    margin-bottom: 0;
    display: block;
}
#introduction h3 {
    font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto;
    font-weight: normal;
    font-size: 20px;
    padding-top: 0;
    display: block;
}

section inca{
    display: block;
    padding-right: 25%;
}

#me-inca img{
    height: 400px;
    border-radius: 7rem;
}
