body {
    background-color: #028b8b;
    font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #fff;
    margin: 0;
}
p{
    text-align: center;
}

#container{
    align-items: center;
    margin-left: 10%;
    margin-top: 100px;
}

#tomasglavina{
    font-family: 'Roboto Slab';
    flex-grow: 1;
    margin-top: 15px;
}

img{
    border-radius: 7rem;
}

#navigation{
    position: absolute;
    right: 40px;
    top: 10px;
}


.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 3px 50px;
    background-color: #0F1626;
}
#intro{
    display: flex;
    right: 10%;
}

#introduction{
    font-size: 40px;
    font-family: Bitter, serif;
    display: block;
    width: 100%;
}

#introduction h1 {
    font-weight: normal;
    margin-bottom: 0;
    display: block;
}
#introduction h3 {
    font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto;
    font-weight: normal;
    font-size: 20px;
    padding-top: 0;
    display: block;
}

#me-inca{
    display: block;
    width: 100%;
}

#me-inca img{
    height: 400px;
}

.header button {
    padding: 20px 20px 20px 0;
    background-color: #0f1626;
    color:#fff;
    border:0;
    font-size: 20px;
    cursor: pointer;
}